# Most viewed music videos of all time

In [1]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/topvideos.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Most viewed music videos of all time
table_all_time = soup.find('table',
                   {'class':'addpos sortable'})
table_all_time

# Table Headers Most viewed music videos of all time
headers = []
for i in table_all_time.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
dftable_all_time = pd.DataFrame(columns=headers)
dftable_all_time

# Table Data Most viewed music videos of all time
for i in table_all_time.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_all_time)
    dftable_all_time.loc[lenght] = rows
    
dftable_all_time

<Response [200]>

,Video,Views,Yesterday
0,Luis Fonsi - Despacito ft. Daddy Yankee,"8,316,803,058","736,362"
1,Ed Sheeran - Shape of You (Official Music Video),"6,138,176,470","684,373"
2,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,093,997,765","948,884"
3,Mark Ronson - Uptown Funk (Official Video) ft....,"5,087,178,288","768,768"
4,PSY - GANGNAM STYLE(강남스타일) M/V,"4,960,883,924","1,011,760"
...,...,...,...
2495,Daniel Caesar - Get You ft. Kali Uchis [Offici...,"324,242,080","50,527"
2496,Vai Embrazando - MC Zaac part. MC Vigary (Kon...,"323,652,403","23,301"
2497,#Ritesh Pandey का हिट गाना - पियवा से पहिले हम...,"323,622,081","34,758"
2498,Same Time Same Jagah (Chaar Din) ● Sandeep Bra...,"323,567,023","89,770"
2499,Aerosmith - Cryin' (Official Music Video),"323,340,916","40,566"

# YouTube Weekly Country Charts | 2023/11/16

In [2]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/insights/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table YouTube Weekly Country Charts
table_week = soup.find('table',
                   {'id':'insightstable'})
table_week

# Table Headers YouTube Weekly Country Charts
headers = []
for i in table_week.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
dftable_week = pd.DataFrame(columns=headers)
dftable_week


# Table Data YouTube Weekly Country Charts
for i in table_week.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_week)
    dftable_week.loc[lenght] = rows
dftable_week

<Response [200]>

           Country                                 #1 Track Market Size
0            India                   Arijit Singh - Chaleya        100%
1           Brazil  Manu Bahtidão - Daqui pra Sempre (Live)         60%
2           Mexico             Fuerza Regida - HARLEY QUINN         55%
3        Argentina                     Luck Ra - La Morocha         39%
4    United States                       Dua Lipa - Houdini         34%
..             ...                                      ...         ...
129          Malta           Dr Chrispy - The Great Unknown          0%
130       Maldives                   Arijit Singh - Chaleya          0%
131     Luxembourg             iñigo quintero - Si No Estás          0%
132        Iceland       The Pogues - Fairytale Of New York          0%
133         Kosovo                          BM - A Po M Don          0%

[134 rows x 3 columns]

# YouTube Most Viewed Artists

In [3]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/archive.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Most Viewed Artists
table_most_viewed= soup.find('table',
                   {'class':'addpos sortable'})
table_most_viewed


# Table Headers Most Viewed Artists
headers = []
for i in table_most_viewed.find_all('th'):
    col_name = i.text
    headers.append(col_name)

# Data Frame Columns Name
df_most_viewed = pd.DataFrame(columns=headers)
df_most_viewed


# Table Data Most Viewed Artists
for i in table_most_viewed.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(df_most_viewed)
    df_most_viewed.loc[lenght] = rows
df_most_viewed

<Response [200]>

                Artist     Total 100M
0            Bad Bunny  31,107.3   73
1                  BTS  30,868.2   68
2        Justin Bieber  28,974.9   38
3           Ed Sheeran  28,454.8   40
4         Taylor Swift  26,950.8   41
...                ...       ...  ...
1714          Rockwell     205.9    1
1715  Valesca Popozuda     205.7    1
1716             Noemi     205.1
1717   Andreas Bourani     203.0
1718        Pixie Lott     201.8

[1719 rows x 3 columns]

# Music videos trending worldwide | 2023-11-22 05:40 EST

In [4]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/trending.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Music videos trending worldwide
table_trend = soup.find('table',
                   {'id':'trendingoverall'})

table_trend


# Table Headers Music videos trending worldwide
headers = []
for i in table_trend.find_all('th'):
    col_name = i.text
    headers.append(col_name)

# Data Frame Columns Name
df1_trend = pd.DataFrame(columns=headers)
df1_trend


# Table Data Music videos trending worldwide
for i in table_trend.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(df1_trend)
    df1_trend.loc[lenght] = rows
    
df1_trend

<Response [200]>

,,,Video,#,Highlights
0,1,NEW,björk ft. rosalía : oral,19,"#2 Mexico, #4 Brazil, #4 Argentina"
1,2,-1,KAROL G - QLONA / Labios Mordidos / OJOS FERRA...,19,"#8 Mexico, #9 Argentina, #1 Colombia"
2,3,NEW,Sobreviviste,15,"#5 Mexico, #11 Argentina, #2 Colombia"
3,4,+19,Måneskin - OFF MY FACE,8,"#23 Argentina, #14 Colombia, #30 France"
4,5,-3,"Arcángel, Grupo Frontera - ALV (Video Oficial)...",13,"#37 Mexico, #31 Dominican Republic, #24 Bolivia"
...,...,...,...,...,...
74,75,+5,Ledri Vula - Paranormal,2,"#17 North Macedonia, #30 Switzerland"
75,76,+5,Tayna - Xhelozia (Official Video),2,"#26 North Macedonia, #31 Switzerland"
76,77,+5,I can’t believe that actually worked at the en...,2,"#38 Ireland, #42 New Zealand"
77,78,+5,Chris Brown - Sensational (Official Video) ft....,2,"#45 Uganda, #38 Zimbabwe"
78,79,+5,EMIWAY - GOOD BOY (MUSIC BY - YO YO HONEY SING...,2,"#41 Qatar, #42 Bahrain"

# Most viewed music videos by Indian artists

In [5]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/topvideos_indian.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Most viewed music videos by Indian artists
table_indi = soup.find('table',
                   {'class':'addpos sortable'})

table_indi


# Table Headers Most viewed music videos by Indian artists
headers = []
for i in table_indi.find_all('th'):
    col_name = i.text
    headers.append(col_name)

# Data Frame Columns Name
dftable_indi = pd.DataFrame(columns=headers)
dftable_indi


# Table Data Most viewed music videos by Indian artists
for i in table_indi.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_indi)
    dftable_indi.loc[lenght] = rows
    
dftable_indi

<Response [200]>

,Video,Views,Yesterday
0,श्री हनुमान चालीसा 🌺🙏| Shree Hanuman Chalisa O...,"3,543,918,398","1,354,847"
1,Lehanga : Jass Manak (Official Video) Satti Dh...,"1,649,734,428","226,666"
2,52 GAJ KA DAMAN | PRANJAL DAHIYA | AMAN JAJI |...,"1,574,399,416","269,672"
3,"Vaaste Song: Dhvani Bhanushali, Tanishk Bagchi...","1,554,737,481","152,328"
4,Rahat Fateh Ali Khan - Zaroori Tha,"1,527,449,730","319,350"
...,...,...,...
145,Prem Rog - Yeh Galiyan Yeh Chaubara Yahan Aana...,"496,553,757","5,569"
146,Gerua - Shah Rukh Khan | Kajol | Dilwale | Pri...,"492,172,946","141,589"
147,Ae Dil Hai Mushkil Title Track Full Video - Ra...,"489,205,486","230,559"
148,Nachange Saari Raat Full Video Song | JUNOONIY...,"487,392,797","79,277"
149,Full Video: Hookah Bar | Khiladi 786 | Akshay ...,"486,367,128","367,676"

In [6]:
# Storing into the excel file 
dftable_all_time.to_excel("Most viewed music videos of all time.xlsx",
            index=False)

dftable_week.to_excel("YouTube Weekly Country Charts.xlsx",
                      index=False)
 
df_most_viewed.to_excel("YouTube Most Viewed Artists.xlsx",
                   index=False)

df1_trend.to_excel("Music videos trending worldwide.xlsx",
                     index=False)

dftable_indi.to_excel("Most viewed music videos by Indian artists.xlsx",
                     index=False)